#include <physical_layouts.dtsi>
#include "position_map.dtsi"

/ {
    qaz_ble_hhkb_triple_space_layout: qaz_ble_hhkb_triple_space_layout {
        compatible = "zmk,physical-layout";
        display-name = "HHKB_TRIPLE_SPACE";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>

            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 200 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  400  350       0     0     0>
            , <&key_physical_attrs 200 100  625  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>

            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };
    qaz_ble_hhkb_triple_space_transform: qaz_ble_hhkb_triple_space_transform {
        compatible = "zmk,matrix-transform";
        rows       = <5>;
        columns    = <11>;
        map = <
            /* row-0 */ RC(2,0)RC(1,0) RC(0,1) RC(0,2) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(2,6)
            /* row-1 */ RC(3,0) RC(2,1) RC(3,1) RC(3,2) RC(2,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(3,6)
            /* row-2 */ RC(4,0) RC(4,1) RC(5,1) RC(5,2) RC(5,3) RC(4,3) RC(5,4) RC(4,5) RC(4,6)
            /* row-3 */ RC(6,0) RC(6,1) RC(6,2) RC(6,4) RC(6,5)
            /* tactile switches */ RC(0,4) RC(0,5) RC(0,6)
        >;
    };
};

&layouts_qaz_ble_position_map {
    qaz_ble_hhkb_triple_space_posmap: hhkb_triple_space {
        physical-layout = <&qaz_ble_hhkb_triple_space_layout>;
            positions = <39 29 30 31 38 32 33 37 34 35 36>;
    };
};
