#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "HHKB_DOUBLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  300  350       0     0     0>
            , <&key_physical_attrs 200 100  525  350       0     0     0>
            , <&key_physical_attrs 100 100  725  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout1: physical_layout_1 {
        compatible = "zmk,physical-layout";
        display-name = "HHKB_LONG_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 625 100  200  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout2: physical_layout_2 {
        compatible = "zmk,physical-layout";
        display-name = "HHKB_single_space";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 125 100  125  350       0     0     0>
            , <&key_physical_attrs 125 100  250  350       0     0     0>
            , <&key_physical_attrs 275 100  375  350       0     0     0>
            , <&key_physical_attrs 125 100  650  350       0     0     0>
            , <&key_physical_attrs 125 100  775  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout3: physical_layout_3 {
        compatible = "zmk,physical-layout";
        display-name = "HHKB_TRIPLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 200 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  400  350       0     0     0>
            , <&key_physical_attrs 200 100  625  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout4: physical_layout_4 {
        compatible = "zmk,physical-layout";
        display-name = "WK_DOUBLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  300  350       0     0     0>
            , <&key_physical_attrs 200 100  525  350       0     0     0>
            , <&key_physical_attrs 100 100  725  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>
            , <&key_physical_attrs 100 100  925  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout5: physical_layout_5 {
        compatible = "zmk,physical-layout";
        display-name = "WK_LONG_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 625 100  200  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>
            , <&key_physical_attrs 100 100  925  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout6: physical_layout_6 {
        compatible = "zmk,physical-layout";
        display-name = "WK_SINGLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 125 100    0  350       0     0     0>
            , <&key_physical_attrs 125 100  125  350       0     0     0>
            , <&key_physical_attrs 125 100  250  350       0     0     0>
            , <&key_physical_attrs 275 100  375  350       0     0     0>
            , <&key_physical_attrs 125 100  650  350       0     0     0>
            , <&key_physical_attrs 125 100  775  350       0     0     0>
            , <&key_physical_attrs 125 100  900  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout7: physical_layout_7 {
        compatible = "zmk,physical-layout";
        display-name = "WK_TRIPLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 200 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  400  350       0     0     0>
            , <&key_physical_attrs 200 100  625  350       0     0     0>
            , <&key_physical_attrs 100 100  825  350       0     0     0>
            , <&key_physical_attrs 100 100  925  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout8: physical_layout_8 {
        compatible = "zmk,physical-layout";
        display-name = "WKL_DOUBLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  300  350       0     0     0>
            , <&key_physical_attrs 200 100  525  350       0     0     0>
            , <&key_physical_attrs 100 100  725  350       0     0     0>
            , <&key_physical_attrs 100 100  925  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout9: physical_layout_9 {
        compatible = "zmk,physical-layout";
        display-name = "WKL_LONG_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 625 100  200  350       0     0     0>
            , <&key_physical_attrs 100 100  925  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout10: physical_layout_10 {
        compatible = "zmk,physical-layout";
        display-name = "WKL_SINGLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 125 100    0  350       0     0     0>
            , <&key_physical_attrs 125 100  250  350       0     0     0>
            , <&key_physical_attrs 275 100  375  350       0     0     0>
            , <&key_physical_attrs 125 100  650  350       0     0     0>
            , <&key_physical_attrs 125 100  900  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    physical_layout11: physical_layout_11 {
        compatible = "zmk,physical-layout";
        display-name = "WKL_TRIPLE_SPACE";
        kscan = <&kscan0>;
        transform = <&qaz_ble_wk_defaoult_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   50       0     0     0>
            , <&key_physical_attrs 100 100  800   50       0     0     0>
            , <&key_physical_attrs 125 100  900   50       0     0     0>
            , <&key_physical_attrs 125 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  125  150       0     0     0>
            , <&key_physical_attrs 100 100  225  150       0     0     0>
            , <&key_physical_attrs 100 100  325  150       0     0     0>
            , <&key_physical_attrs 100 100  425  150       0     0     0>
            , <&key_physical_attrs 100 100  525  150       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100  725  150       0     0     0>
            , <&key_physical_attrs 100 100  825  150       0     0     0>
            , <&key_physical_attrs 100 100  925  150       0     0     0>
            , <&key_physical_attrs 175 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  175  250       0     0     0>
            , <&key_physical_attrs 100 100  275  250       0     0     0>
            , <&key_physical_attrs 100 100  375  250       0     0     0>
            , <&key_physical_attrs 100 100  475  250       0     0     0>
            , <&key_physical_attrs 100 100  575  250       0     0     0>
            , <&key_physical_attrs 100 100  675  250       0     0     0>
            , <&key_physical_attrs 100 100  775  250       0     0     0>
            , <&key_physical_attrs 150 100  875  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 200 100  200  350       0     0     0>
            , <&key_physical_attrs 225 100  400  350       0     0     0>
            , <&key_physical_attrs 200 100  625  350       0     0     0>
            , <&key_physical_attrs 100 100  925  350       0     0     0>
            , <&key_physical_attrs  50  50  775    0       0     0     0>
            , <&key_physical_attrs  50  50  825    0       0     0     0>
            , <&key_physical_attrs  50  50  875    0       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        physical_layout0 {
            physical-layout = <&physical_layout0>;
            positions = <39 29 30 31 32 33 34 38 35 36 37>;
        };

        physical_layout1 {
            physical-layout = <&physical_layout1>;
            positions = <39 29 38 30 37 36 31 35 32 33 34>;
        };

        physical_layout2 {
            physical-layout = <&physical_layout2>;
            positions = <39 29 30 31 38 32 33 37 34 35 36>;
        };

        physical_layout3 {
            physical-layout = <&physical_layout3>;
            positions = <39 29 30 31 38 32 33 37 34 35 36>;
        };

        physical_layout4 {
            physical-layout = <&physical_layout4>;
            positions = <29 30 31 32 33 34 35 36 37 38 39>;
        };

        physical_layout5 {
            physical-layout = <&physical_layout5>;
            positions = <29 30 39 31 38 37 32 33 34 35 36>;
        };

        physical_layout6 {
            physical-layout = <&physical_layout6>;
            positions = <29 30 31 32 39 33 34 35 36 37 38>;
        };

        physical_layout7 {
            physical-layout = <&physical_layout7>;
            positions = <29 30 31 32 39 33 34 35 36 37 38>;
        };

        physical_layout8 {
            physical-layout = <&physical_layout8>;
            positions = <29 39 30 31 32 33 38 34 35 36 37>;
        };

        physical_layout9 {
            physical-layout = <&physical_layout9>;
            positions = <29 39 38 30 37 36 35 31 32 33 34>;
        };

        physical_layout10 {
            physical-layout = <&physical_layout10>;
            positions = <29 39 30 31 38 32 37 33 34 35 36>;
        };

        physical_layout11 {
            physical-layout = <&physical_layout11>;
            positions = <29 39 30 31 38 32 37 33 34 35 36>;
        };
    };
};