#include <dt-bindings/zmk/matrix_transform.h>
#include "qaz_num_ble.dtsi"

/ {
    kscan0: kscan_0 {
        compatible      = "zmk,kscan-gpio-charlieplex";
        #ifdef CONFIG_BOARD_SEEEDUINO_XIAO_BLE
        interrupt-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >;
        #endif
        gpios
          = < &xiao_d 0 GPIO_ACTIVE_HIGH >
          , < &xiao_d 1 GPIO_ACTIVE_HIGH >
          , < &xiao_d 2 GPIO_ACTIVE_HIGH >
          , < &xiao_d 3 GPIO_ACTIVE_HIGH >
          , < &xiao_d 4 GPIO_ACTIVE_HIGH >
          ; // addressable space is 5x5, (minus paired values)
    };
    studio_usb: studio_usb {
        compatible = "zmk,studio-rpc-usb-uart";
    };
};
&xiao_serial { status = "disabled"; };
&xiao_i2c { status = "disabled"; };