#include <physical_layouts.dtsi>
#include "position_map.dtsi"

/ {
    qaz_num_ble_numpad_layout: qaz_num_ble_numpad_layout {
        compatible = "zmk,physical-layout";
        display-name = "NUMPAD";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 200  300  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>

            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 200  300  300       0     0     0>
            , <&key_physical_attrs 200 100    0  400       0     0     0>

            , <&key_physical_attrs 100 100  200  400       0     0     0>

            ;
    };
};

&layouts_qaz_num_ble_position_map {
    qaz_num_ble_numpad_posmap: qaz_num_ble_numpad_posmap {
        physical-layout = <&qaz_num_ble_numpad_layout>;
        positions
                = <7 14 15>;
    };
};
